.display-tag {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  div {
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-primary);
  }

  p {
    word-wrap: break-word;
    word-break: break-word;
  }
}

.comment-card {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  align-items: center;

  .comment-card-by {
    margin-bottom: 0.5rem;
  }

  svg:hover {
    cursor: pointer;
  }
}
