.rich-text-editor {
  display: block;
  margin-top: 1rem;

  .rich-text-editor-field {
    border: 1px solid var(--primary-color);
    background-color: var(--background-secondary);
    min-height: 250px;
    border-radius: 8px;
    padding: 10px 15px;
  }

  .rich-text-editor-toolbar {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }
}
