@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.thread-card {
  padding: 1rem;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: #e7e7e7 1px 1px 5px;
  transition: all 0.3s ease-in-out;
}

.thread-card .subtitle {
    color: #757575;
  }

.thread-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: #d4d4d4 1px 1px 7px;
}

.thread-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  box-sizing: border-box;
  padding: 2rem;
  min-width: 350px;
  box-shadow: #e7e7e7 1px 1px 5px;
  border-radius: 8px;
  row-gap: 1.5rem;
}

.login-form .error, .login-form .success {
    padding: 15px;
    color: var(--background-secondary);
    border-radius: 8px;
  }

.login-form .error p, .login-form .success p {
      font-weight: bold;
    }

.login-form .error {
    background-color: rgba(245, 105, 96, 0.7);
    border: 2px solid rgb(245, 105, 96);
  }

.login-form .success {
    background-color: rgba(68, 194, 110, 0.7);
    border: 2px solid rgb(68, 194, 110);
  }

.login-form div:not(.buttons) {
    display: flex;
    flex-direction: column;
  }

.login-form div:not(.buttons) p {
      font-weight: bold;
    }

.login-form div:not(.buttons) input {
      padding: 10px 15px;
      margin-top: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--primary-color);
      font-size: 1rem;
    }

.login-form .buttons {
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

/* TODO: Abstract this button to a separate class */

.login-form .buttons button {
      font-family: 'Poppins', sans-serif;
      border: 1px solid var(--primary-color);
      background-color: inherit;
      border-radius: 8px;
      font-size: 1rem;
      padding: 5px 15px;
    }

.login-form .buttons button:hover {
      cursor: pointer;
    }

.login-form .buttons .login-button {
      background-color: var(--primary-color);
      color: var(--background-secondary);
    }

/* Set of CSS shared among various files */

.button {
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-primary);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid var(--dark-primary);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--background-primary);
  color: var(--primary-color);
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  --background-primary: #F4FAFF;
  --background-secondary: #FFFFFF;
  --dark-primary: #191919;
  --dark-secondary: #535657;
  --dark-highlight: #4F646F;
  --accent-color: #4583f6;
  --primary-color: #345995;
  --error-primary: #F56960;
  --error-accent: #F45866;
  color: var(--dark-primary);
  background-color: var(--background-primary);
  height: 100%;
}

.container {
  width: 70%;
  margin: 3rem auto;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.container header nav {
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }

.container header nav a:not(.button) {
        text-decoration: none;
        color: var(--accent-color);
      }

.container .content {
    width: 70%;
    margin: 2rem auto;
    margin-bottom: 6rem;
  }

.container .content .heading {
      margin-bottom: 2rem;
      position: relative;
      color: var(--primary-color)
    }

.container footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

