@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.tags-filter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tags-filter .display-tag:hover {
    cursor: pointer;
  }

.thread-card {
  padding: 1rem;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: #e7e7e7 1px 1px 5px;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
}

.thread-card .subtitle {
    color: #757575;
  }

.thread-card .tags {
    display: flex;
    column-gap: 0.5rem;
    padding-top: 1rem;
  }

.thread-card .tags span {
      padding: 5px 15px;
      border-radius: 8px;
    }

.thread-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: #d4d4d4 1px 1px 7px;
}

.thread-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.expanded-thread h2 {
    margin-bottom: 2rem;
  }

.expanded-thread .comments {
    margin-top: 2rem;
    color: var(--primary-color);
  }

.expanded-thread .comments h3 {
      margin-bottom: 1rem;
    }

.expanded-thread .comments textarea {
      width: 100%;
      border: 1px solid var(--primary-color);
      border-radius: 8px;
      padding: 5px 15px;
      font-family: 'Karla', sans-serif;
      font-size: 16px;
      margin-bottom: 1rem;
    }

.expanded-thread .comments button {
      margin-bottom: 1rem;
    }

.expanded-thread .comments div {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

.expanded-thread .comments div p {
        padding: 15px;
        background-color: var(--background-secondary);
        border-radius: 8px;
        box-shadow: #e7e7e7 1px 1px 5px;
      }

/* TODO: Move this into main since other classes are usign this too */

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  box-sizing: border-box;
  padding: 2rem;
  min-width: 350px;
  box-shadow: #e7e7e7 1px 1px 5px;
  border-radius: 8px;
  row-gap: 1.5rem;
}

.form .error, .form .success {
    padding: 15px;
    color: var(--background-secondary);
    border-radius: 8px;
  }

.form .error p, .form .success p {
      font-weight: bold;
    }

.form .error {
    background-color: rgba(245, 105, 96, 0.7);
    border: 2px solid rgb(245, 105, 96);
  }

.form .success {
    background-color: rgba(68, 194, 110, 0.7);
    border: 2px solid rgb(68, 194, 110);
  }

.form .field {
    display: flex;
    flex-direction: column;
  }

.form .field p {
      font-weight: bold;
    }

.form .field span {
      color: var(--dark-highlight);
    }

.form .field a {
      text-decoration: none;
      color: var(--primary-color);
    }

.form .field input {
      padding: 10px 15px;
      margin-top: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--primary-color);
      font-size: 1rem;
    }

.form .editor {
    display: block;
    margin-top: 1rem;
  }

.form .editor .editor-toolbar {
      border: 1px solid var(--primary-color);
      border-radius: 8px;
    }

.form .editor .editor-field {
      border: 1px solid var(--primary-color);
      border-radius: 8px;
      padding: 10px 15px;
    }

.form .buttons {
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

/* TODO: Abstract this button to a separate class */

.form .buttons button {
      font-family: 'Poppins', sans-serif;
      border: 1px solid var(--primary-color);
      background-color: inherit;
      border-radius: 8px;
      font-size: 1rem;
      padding: 5px 15px;
    }

.form .buttons button:hover {
      cursor: pointer;
    }

.form .buttons .primary-button {
      background-color: var(--primary-color);
      color: var(--background-secondary);
    }

/* Set of CSS shared among various files */

.button {
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-primary);
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid var(--dark-primary);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--background-primary);
  color: var(--primary-color);
  cursor: pointer;
}

.tag-select {
  width: 100%;
}

/* Input area for tags */

.tag-select .tags-input .tags-selected {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
    }

.tag-select .tags-input .tags-selected div {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        column-gap: 8px;
        width: -moz-fit-content;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 8px;
      }

.tag-select .tags-input .tags-selected div svg:hover {
          cursor: pointer;
        }

.tag-select .tags-input .search-tags {
      width: 100%;
    }

/* Dropdown for tags */

.tag-select .tags-dropdown {
    border: 1px solid var(--primary-color);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.tag-select .tags-dropdown .add-new-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

.tag-select .tags-dropdown .add-new-tag input {
        margin: 0;
      }

.tag-select .tags-dropdown .add-new-tag input[type='text'] {
        border: none;
        flex: 1;
      }

.tag-select .tags-dropdown .add-new-tag input[type='text']:focus {
        outline: none;
      }

.tag-select .tags-dropdown .add-new-tag .tag-color-preview {
        height: 50px;
        aspect-ratio: 1 / 1;
      }

.tag-select .tags-dropdown .add-new-tag input[type='color'] {
        border: none;
        background-color: var(--background-secondary);
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
      }

.tag-select .tags-dropdown .add-new-tag input[type='color']:hover {
        cursor: pointer;
      }

.tag-select .tags-dropdown .tags-list div {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

.tag-select .tags-dropdown .tags-list div:hover {
        cursor: pointer;
        background-color: #e7e7e7;
      }

.tag-select .tags-dropdown .tags-list div:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }

.tag-select .tags-dropdown .tags-list p {
        padding: 5px 15px;
        border-radius: 8px;
        width: -moz-fit-content;
        width: fit-content;
      }

.tag-select .tags-dropdown .tags-list svg path:last-child {
          fill: var(--dark-secondary);
          width: 15px;
          stroke-width: 3px;
        }

.display-tag {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.display-tag div {
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-primary);
  }

.display-tag p {
    word-wrap: break-word;
    word-break: break-word;
  }

.split, .single {
  width: 90%;
  margin: 2rem auto 6rem;
}

.split .actions, .single .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

.split .actions a, .single .actions a {
      height: -moz-fit-content;
      height: fit-content;
    }

.split .actions .group, .single .actions .group {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }

.split .heading, .single .heading {
    color: var(--primary-color)
  }

.split .content {
    display: flex;
    justify-content: space-between;
  }

.split .content main {
      width: 80%;
    }

.split .content aside {
      width: 18%;
    }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  --background-primary: #F4FAFF;
  --background-secondary: #FFFFFF;
  --dark-primary: #191919;
  --dark-secondary: #535657;
  --dark-highlight: #4F646F;
  --accent-color: #4583f6;
  --primary-color: #345995;
  --error-primary: #F56960;
  --error-accent: #F45866;
  color: var(--dark-primary);
  background-color: var(--background-primary);
  height: 100%;
}

.container {
  width: 70%;
  margin: 3rem auto;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.container header nav {
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }

.container header nav a:not(.button) {
        text-decoration: none;
        color: var(--accent-color);
      }

.container footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.hidden {
  height: 0;
  visibility: hidden;
}
