@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.tags-filter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tags-filter .display-tag:hover {
    cursor: pointer;
  }

.thread-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.thread-card .thread-tags {
    display: flex;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    flex-wrap: wrap;
  }

.thread-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: #d4d4d4 1px 1px 7px;
}

.thread-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.expanded-thread .expanded-thread-heading {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

.expanded-thread .expanded-thread-heading .expanded-thread-tags {
      display: flex;
      gap: 0.8rem;
    }

.expanded-thread .comments {
    margin-top: 2rem;
    color: var(--primary-color);
  }

.expanded-thread .comments h3 {
      margin-bottom: 1rem;
    }

.expanded-thread .comments textarea {
      width: 100%;
      border: 1px solid var(--primary-color);
      border-radius: 8px;
      padding: 15px;
      font-family: var(--font-family);
      font-size: 1rem;
      margin-bottom: 1rem;
    }

.expanded-thread .comments button {
      margin-bottom: 1rem;
    }

.expanded-thread .comments .comments-list {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

/* Set of CSS shared among various files */

.effect-button {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--background-primary);
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 10px 25px;
  border: 1px solid var(--dark-primary);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.effect-button:hover {
  background-color: var(--background-primary);
  color: var(--primary-color);
  cursor: pointer;
}

button[class^=static-button], a[class^=static-button] {
  font-family: var(--font-family);
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px 25px;
}

button[class^=static-button]:hover {
  cursor: pointer;
}

.static-button-blue {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--background-secondary);
}

.static-button-plain {
  border: 1px solid var(--primary-color);
  background-color: var(--background-secondary);
}

.static-button-red {
  background-color: var(--error-accent);
  border: 1px solid var(--error-primary);
  color: var(--background-secondary);
}

.thick-card {
  background-color: var(--background-secondary);
  padding: 2rem;
  box-shadow: #e7e7e7 1px 1px 5px;
  border-radius: 8px;
}

.thin-card {
  padding: 1rem;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: #e7e7e7 1px 1px 5px;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
}

.hidden {
  height: 0;
  visibility: hidden;
}

.error, .success {
  padding: 20px;
  color: var(--background-secondary);
  border-radius: 8px;
  font-weight: bold;
}

.error {
  background-color: rgba(245, 105, 96, 0.7);
  border: 2px solid rgb(245, 105, 96);
}

.success {
  background-color: rgba(68, 194, 110, 0.7);
  border: 2px solid rgb(68, 194, 110);
}

.subtitle {
  color: #757575;
}

.markdown h1, .markdown h2, .markdown h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.markdown h1:first-child, .markdown h2:first-child, .markdown h3:first-child {
    margin-top: 0;
  }

.markdown h1:last-child, .markdown h2:last-child, .markdown h3:last-child {
    margin-bottom: 0;
  }

.markdown p {
    line-height: 1.6rem;
  }

.preview {
  max-height: 200px;
  overflow: hidden;
}

.tag-select {
  width: 100%;
}

/* Input area for tags */

.tag-select .tags-input .tags-selected {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
    }

.tag-select .tags-input .tags-selected div {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        column-gap: 8px;
        width: -moz-fit-content;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 8px;
      }

.tag-select .tags-input .tags-selected div svg:hover {
          cursor: pointer;
        }

.tag-select .tags-input .search-tags {
      width: 100%;
    }

/* Dropdown for tags */

.tag-select .tags-dropdown {
    border: 1px solid var(--primary-color);
    background-color: var(--background-secondary);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.tag-select .tags-dropdown .add-new-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

.tag-select .tags-dropdown .add-new-tag input {
        margin: 0;
      }

.tag-select .tags-dropdown .add-new-tag input[type='text'] {
        border: none;
        flex: 1;
      }

.tag-select .tags-dropdown .add-new-tag input[type='text']:focus {
        outline: none;
      }

.tag-select .tags-dropdown .add-new-tag .tag-color-preview {
        height: 50px;
        aspect-ratio: 1 / 1;
      }

.tag-select .tags-dropdown .add-new-tag input[type='color'] {
        border: none;
        background-color: var(--background-secondary);
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
      }

.tag-select .tags-dropdown .add-new-tag input[type='color']:hover {
        cursor: pointer;
      }

.tag-select .tags-dropdown .tags-list div {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

.tag-select .tags-dropdown .tags-list div:hover {
        cursor: pointer;
        background-color: #e7e7e7;
      }

.tag-select .tags-dropdown .tags-list div:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }

.tag-select .tags-dropdown .tags-list p {
        //padding: 5px 15px;
        border-radius: 8px;
        width: -moz-fit-content;
        width: fit-content;
      }

.tag-select .tags-dropdown .tags-list svg path:last-child {
          fill: var(--dark-secondary);
          width: 15px;
          stroke-width: 3px;
        }

.display-tag {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.display-tag div {
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-primary);
  }

.display-tag p {
    word-wrap: break-word;
    word-break: break-word;
  }

.comment-card {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  align-items: center;
}

.comment-card .comment-card-by {
    margin-bottom: 0.5rem;
  }

.comment-card svg:hover {
    cursor: pointer;
  }

.split, .single {
  width: 90%;
  margin: 2rem auto 6rem;
}

.split .title, .single .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

.split .title a, .single .title a {
      height: -moz-fit-content;
      height: fit-content;
    }

.split .title .group, .single .title .group {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }

.split .title .group svg:hover, .single .title .group svg:hover {
        cursor: pointer;
      }

.split .title .heading, .single .title .heading {
      color: var(--primary-color);
    }

.split .content {
    display: flex;
    justify-content: space-between;
  }

.split .content main {
      width: 80%;
    }

.split .content aside {
      width: 18%;
    }

.ends {
  display: flex;
  justify-content: space-between;
}

.on-end {
  display: flex;
  justify-items: right;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form .field {
    display: flex;
    flex-direction: column;

  }

.form .field input {
      padding: 15px;
      margin-top: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--primary-color);
      font-family: var(--font-family);
      font-size: 1rem;
    }

.form .field p {
      font-weight: bold;
    }

.form .field span {
      color: var(--dark-highlight);
    }

.form .field a {
      text-decoration: none;
      color: var(--primary-color);
    }

.form .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.rich-text-editor {
  display: block;
  margin-top: 1rem;
}

.rich-text-editor .rich-text-editor-field {
    border: 1px solid var(--primary-color);
    background-color: var(--background-secondary);
    min-height: 250px;
    border-radius: 8px;
    padding: 10px 15px;
  }

.rich-text-editor .rich-text-editor-toolbar {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--font-family);
  --font-family: 'Karla', Arial, sans-serif;
  --background-primary: #F4FAFF;
  --background-secondary: #FFFFFF;
  --dark-primary: #191919;
  --dark-secondary: #535657;
  --dark-highlight: #4F646F;
  --accent-color: #4583f6;
  --primary-color: #345995;
  --error-primary: #F56960;
  --error-accent: #F45866;
}

body {
  color: var(--dark-primary);
  background-color: var(--background-primary);
  height: 100%;
}

.container {
  width: 70%;
  margin: 3rem auto;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.container header nav {
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }

.container header nav a:not(.effect-button) {
        text-decoration: none;
        color: var(--accent-color);
      }

.container footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

