/* TODO: Move this into main since other classes are usign this too */
.form {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  box-sizing: border-box;
  padding: 2rem;
  min-width: 350px;
  box-shadow: #e7e7e7 1px 1px 5px;
  border-radius: 8px;
  row-gap: 1.5rem;

  .error, .success {
    padding: 15px;
    color: var(--background-secondary);
    border-radius: 8px;

    p {
      font-weight: bold;
    }
  }

  .error {
    background-color: rgba(245, 105, 96, 0.7);
    border: 2px solid rgb(245, 105, 96);
  }

  .success {
    background-color: rgba(68, 194, 110, 0.7);
    border: 2px solid rgb(68, 194, 110);
  }

  .field {
    display: flex;
    flex-direction: column;

    p {
      font-weight: bold;
    }

    span {
      color: var(--dark-highlight);
    }

    a {
      text-decoration: none;
      color: var(--primary-color);
    }

    input {
      padding: 10px 15px;
      margin-top: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--primary-color);
      font-size: 1rem;
    }
  }

  .editor {
    display: block;
    margin-top: 1rem;

    .editor-toolbar {
      border: 1px solid var(--primary-color);
      border-radius: 8px;
    }

    .editor-field {
      border: 1px solid var(--primary-color);
      border-radius: 8px;
      padding: 10px 15px;
    }
  }

  .buttons {
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    width: 100%;

     /* TODO: Abstract this button to a separate class */
    button {
      font-family: 'Poppins', sans-serif;
      border: 1px solid var(--primary-color);
      background-color: inherit;
      border-radius: 8px;
      font-size: 1rem;
      padding: 5px 15px;
    }

    button:hover {
      cursor: pointer;
    }

    .primary-button {
      background-color: var(--primary-color);
      color: var(--background-secondary);
    }
  }
}