@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './home.css';
@import './login.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  --background-primary: #F4FAFF;
  --background-secondary: #FFFFFF;
  --dark-primary: #191919;
  --dark-secondary: #535657;
  --dark-highlight: #4F646F;
  --accent-color: #AFCBFF;
  --primary-color: #345995;
  --error-primary: #F56960;
  --error-accent: #F45866;
  color: var(--dark-primary);
  background-color: var(--background-primary);
  height: 100%;
}

.container {
  width: 70%;
  margin: 3rem auto;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;
      column-gap: 2rem;
      align-items: center;

      a {
        text-decoration: underline;
        color: #000;
      }

      .login-button {
        text-decoration: none;
        border: none;
        background-color: var(--primary-color);
        color: var(--background-primary);
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        padding: 5px 15px;
        border: 1px solid var(--dark-primary);
        border-radius: 8px;
        transition: all 0.2s ease-in-out;
      }

      .login-button:hover {
        background-color: var(--background-primary);
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }

  .content {
    width: 70%;
    margin: 2rem auto;
    margin-bottom: 6rem;

    .heading {
      margin-bottom: 2rem;
      position: relative;
      color: var(--primary-color)
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}